.footerContainer {
  border-top: 1px solid #4b4a4b;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #36014e;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: stretch;
  align-content: stretch;
  background: linear-gradient(-45deg, #3a133a, #3e1b46, #3c024d, #3a043b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}




.footerIncBox {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: auto;
  text-align: right;
  padding-right: 10px;
  order: 3;
}

.footerLinkBox {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80%;
  align-self: auto;
  order: 2;
}
.footerLinkBoxATag {
  text-decoration: none;
}

.footerEmailBox {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  flex-basis: 20%;
}

.footerLinks > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding: 0 10px;
  border-right: 1px solid #4b4a4b;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 900px) {
  .footerContainer {
    border-top: 1px solid #4b4a4b;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #36014e;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: stretch;
    align-content: stretch;
    
  }
  .footerIncBox {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: auto;
    order: 3;
    font-size:10px;
    
  }
  
  .footerLinkBox {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    
  }
  .footerEmailBox {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 2;
    padding-top:1px;
    font-size:14px;
  }
}
