#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainGrid {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .mainGrid {
    flex-direction: column;
    margin-top: 15%;
  }
  .mainGrid > * {
    margin-bottom: 5%;
  }

  .mainGrid > *:last-child {
    margin-bottom: 0;
  }
}

.instagram-gradient {
  fill: url(#instagram-gradient);
}

.instagram-gradient svg {
  width: 24px;
  height: 24px;
}
