.banner {
  position: relative;
  bottom: 200px;
  animation: hoverEffect 2s infinite ease-in-out;
 
}


@media screen and (max-width: 900px) {
  .banner {
    width: 100%;
    height: 100%;
    bottom: 100px;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .banner {
    width: 100%;
    height: 100%;
    bottom: 100px;
    margin-bottom: 2rem;
    
   
  }
}

@keyframes hoverEffect {
  0% {
    transform: scale(1);
    transform: translateY(5px);
    filter: drop-shadow(5px 5px 0px #1fbe0a);
  }
  25% {
    transform: scale(1.03);
    transform: translateY(4px);
  }
  50% {
    transform: scale(1.02);
    transform: translateY(3px);
  }
  75% {
    transform: scale(1.01);
    transform: translateY(4px);
  }
  100% {
    transform: scale(1);
    transform: translateY(5px);
  }
}
